@import 'fontawesome.css';


/* 导入Tailwind */
@tailwind base;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url(./assets/font/Inter.woff);
  }

}



@tailwind components;

@layer components {

  /* 背景圆形渐变色 */
  .gradient-ellipse {
    @apply bg-gradient-to-r from-[#75DAF3] via-[#4553F2] to-[#7623F5] filter
  }

  /* 背景圆形渐变色-移动端 */
  .gradient-ellipse-mb {
    @apply bg-gradient-to-br from-[#75DAF3] via-[#4553F2] to-[#7623F5] filter
  }

  /* 标题流动色 */
  .linear-color {
    @apply text-transparent bg-gradient-to-r from-[#BBBBFF] via-[#ffffff] to-[#BBBBFF] bg-200% bg-clip-text
  }

  /* TimeLine-cart背景色 */
  .timeline-blur {
    @apply bg-gradient-to-r from-[#75DAF3] via-[#4553F2] to-[#7623F5] filter
  }

  /* NavigationBar通用样式 */
  .nav-link {
    @apply text-white font-medium text-xl font-Inter-500
  }

  /* 按钮渐变通用样式 */
  .btn-gradient {
    @apply bg-gradient-to-r from-[#75DAF3] via-[#4553F2] to-[#7623F5]
  }




}

@tailwind utilities;

/* 边框垂直渐变 */
.custom-border-gradient {
  border: 1px solid;
  border-radius: 23px;
  border-image: linear-gradient(to bottom, #fff, transparent 84%) 1;
}

/* Email背景 */
.custom-email-gradient {
  background: linear-gradient(110.03deg, #75DAF3 11.94%, #4553F2 51.8%, #7623F5 75.1%);
}

/* 背景图片自适应 */
.custom-image-self {
  background-size: 100% 100%;
}

/* 导航的hover */
.custom-nav-hover:hover {
  background-image: linear-gradient(109.4deg, #75DAF3 40%,
      #4553F2,
      #7623F5 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100%;
  transition: all 0.3s;
}


/* nav icon 渐变 */
.custom-nav-right-hover:hover {
  background: linear-gradient(109.03deg, #75DAF3 11.94%, #4553F2 51.8%, #7623F5 85.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


/* 小球1的动画 */
.custom-sphere-one {
  z-index: -2;
  animation: sp1 4s ease;
}

@keyframes sp1 {
  0% {
    opacity: 0;
    transform: translate(177px, 177px);
  }

  60% {
    opacity: 0;
  }

  100% {
    transform: translateX(0, 0);
    opacity: 1;

  }
}

/* 小球2的动画 */
.custom-sphere-two {
  z-index: -2;
  animation: sp2 4s ease;
}

@keyframes sp2 {
  0% {
    opacity: 0;
    transform: translate(0px, 177px);
  }

  60% {
    opacity: 0;
  }

  100% {
    transform: translateX(0, 0);
    opacity: 1;

  }
}

/* 小球3的动画 */
.custom-sphere-third {
  z-index: -2;
  animation: sp3 4s ease;
}

@keyframes sp3 {
  0% {
    opacity: 0;
    transform: translate(-177px, 177px);
  }

  60% {
    opacity: 0;
  }

  100% {
    transform: translateX(0, 0);
    opacity: 1;

  }
}

/* 小球4的动画 */
.custom-sphere-four {
  z-index: -2;
  animation: sp4 4s ease;
}

@keyframes sp4 {
  0% {
    opacity: 0;
    transform: translate(-107px, -30px);
  }

  60% {
    opacity: 0;
  }

  100% {
    transform: translateX(0, 0);
    opacity: 1;

  }
}


/* 光晕渐入动画 */
.custom-halo-in {
  animation: haloIn 2.3s ease-in-out;
}

@keyframes haloIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}

.hoverUp:hover {}
